*.o
*.bin
*.exe
*.elf
*.hex
avr
pic
../.vscode
../.vscode/*.json
doxygen-documents/*
regression-tests/regression-tests/**/*.testelf
**/pic.cmf
**/pic.hxl
**/pic.s
**/pic.sdb
**/pic.sym
**/startup.lst
**/startup.rlf
**/startup.s
regression-tests/regression-tests/summary
regression-tests/regression-tests/**/results.output